absl-py==0.7.1
appdirs==1.4.4
asgiref==3.2.3
astor==0.7.1
astroid==2.4.2
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
Cython==0.29.16
decorator==4.4.0
defusedxml==0.6.0
Django==3.0.3
docopt==0.6.2
easydict==1.9
entrypoints==0.3
filelock==3.0.12
gast==0.2.2
gdown==3.10.1
google-pasta==0.1.7
graphviz==0.10.1
grpcio==1.20.1
h5py==2.9.0
idna==2.8
imageio==2.5.0
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
jedi==0.15.1
Jinja2==2.10.1
joblib==0.13.2
jsonpatch==1.24
jsonpickle==0.9.6
jsonpointer==2.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Mako==1.1.3
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
munch==2.3.2
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
ninja==1.9.0.post1
notebook==6.0.0
numpy==1.16.2
opencv-contrib-python==4.2.0.34
opencv-python==4.1.0.25
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
py-cpuinfo==5.0.0
Pygments==2.4.2
pylint==2.6.0
pyparsing==2.4.0
pyrsistent==0.15.4
PySocks==1.7.1
python-dateutil==2.8.0
pytools==2020.2
pytz==2019.2
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.5.2
requests==2.21.0
sacred==0.7.4
scikit-image==0.15.0
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sqlparse==0.3.0
tensorboard==1.14.0
tensorboardX==1.8
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.2
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
typed-ast==1.4.1
urllib3==1.24.2
visdom==0.1.8.9
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.2
widgetsnbextension==3.5.1
wrapt==1.11.1
yacs==0.1.6
